/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk" !important;
}
html,
body {
  width: 100%;
  height: 100vh;
}
:root {
  --primary-color: #b9ff66;
  --secondary-color: #191a23;
  --third-color: #f3f3f3;
}
.padding {
  padding: 0 80px;
}
a {
  text-decoration: none !important;
}
nav {
  padding: 15px 80px !important;
}
nav * {
  font-family: "Space Grotesk" !important;
}
.navbar-brand {
  font-weight: 500;
}
.hero-section:nth-child(2) {
  gap: 35px;
}
.hero-section:nth-child(2) h1 {
  font-size: 3rem;
  font-weight: 500;
}
.hero-section:nth-child(2) p {
  font-size: 20px;
}
.hero-section:nth-child(2) button {
  background-color: var(--secondary-color);
  padding: 3% 4%;
  border-radius: 14px !important;
}
.hero-section:nth-child(2) div {
  width: 50%;
}
.hero-image h1 {
  display: none;
}
.logos div{
     width: 50% !important;
}
.services .heading{
     padding: 0.6%;
     border-radius: 7px;
     background-color: #b9ff66;
}
.services .detail{
     width: 47%;
     text-align: justify;
}
.service{
     position: relative;
     background-color: var(--third-color);
     border: 1px solid black;
     border-radius: 45px;
     padding: 4% 4% 2% 4%;
     width: 50%;
}
.service .heading{
     padding: 0.6%;
     border-radius: 7px;
     background-color: var(--primary-color);
}
.service-image{
     margin-top: 5%;
}
.bg-div{
     position: absolute;
     width: 100%;
     height: 100%;
     border-radius: 45px;
     border: 4px solid black;
     left: 0%;
     top: 1.5%;
     z-index: -1;
}
.arrow{
     margin-top: 20%;
     cursor: pointer;
}
.arrow i{
     font-size: 2rem;
}
.service:nth-child(2) {
     background-color: var(--primary-color);
}
.service:nth-child(2) .heading{
     background-color: var(--third-color);
}
.service:nth-child(2) .service-image{
     margin-top: 0 !important;
}
.footer{
     background-color:var(--secondary-color);
     border-top-left-radius: 45px;
     border-top-right-radius: 45px;
     padding: 55px 60px 50px !important;
}
.social-links i{
     font-size: 25px;
}
.contact h4{
     background-color: var(--primary-color);
}
.subscribe{
     background-color: #292A32;
     border-radius: 14px;
}
.subscribe input{
     background-color: transparent;
     border: 1px solid white;
     border-radius: 14px;
     width: 50%;
}
.subscribe button{
     background-color: var(--primary-color);
     border: none;
     border-radius: 14px;
     width: 50%;
}
.subscribe input::placeholder{
     color: white;
}
hr {
  height: 3px;
  background-color: #ffffff;
  border: 0 !important; 
  outline: 0 !important;
  opacity: 1 !important;
}
.policy{
     text-decoration: underline;
}
.contact>div{
     width: 50%;
}
.mobile-icon{
     display: none !important;
}
@media (max-width: 992px) {
     nav{
          padding: 0 !important;
     }
  .quote {
    width: 100% !important;
    display: block !important;
  }
  .nav-item {
    margin: auto !important;
  }
  .hero-section{
     padding-left: 0 !important;
     padding-right: 0 !important;
  }
  .hero-section h1{
     font-size: 35px !important;
  }
  .hero-section:nth-child(2) div {
    width: 100%;
  }
  .hero-content h1 {
    display: none;
  }
  .hero-image h1 {
    display: block;
  }
  .logos{
     padding: 0 !important;
  }
.logos div{
     width: 100% !important;
}
.logos svg{
     width: 100% !important;
     height: 100% !important;
}
.services{
     padding: 0;
}
.service{
     width: 100% !important;
}
.main-service{
     padding: 0;
}
.main-service h3{
     font-size: 16px;
}
.main-service p{
     font-size: 12px;
}
footer{
     padding: 0 !important;
     width: 100%;
}
.contact>div{
     width: 100% !important;
}
.subscribe input{
     width: 100% !important;
}
.subscribe button{
     width: 100% !important;
}
.mobile-icon{
     display: flex !important;
     justify-content: center;
     margin-top: 5%;
}
.footer{
     padding: 50px 0 0 0 !important;
}
}
