/* CSS Reset */
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html,body{
     width: 100%;
     height: 100vh;
}
:root{
     --primary-color: #B9FF66;
     --secondary-color: #191A23;
     --third-color: #F3F3F3;
}
a{
     text-decoration: none;
}