/* CSS Reset */
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
html,body{
     width: 100%;
     height: 100vh;
}
:root{
     --primary-color: #B9FF66;
     --secondary-color: #191A23;
     --third-color: #F3F3F3;
}
a{
     text-decoration: none;
}
nav{
     padding: 15px 80px !important;
}
nav *{
     font-family: 'Space Grotesk' !important;
}
.navbar-brand{
     font-weight: 500;
}

@media (max-width: 992px) {
     .quote{
          width: 100% !important;
          display: block !important;
     }
     .nav-item{
          margin: auto !important;
     }
}